* {
	padding: 0;
	margin: 0;
}

#dagai {
	padding: 20px;
}

#dagai #zhongjian {
	border-radius: 20px;
	width: 100%;
	height: 900px;
	background: url(../img/loginAndReg/bg.d0361c9.jpg);
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
}

#zhongjian #centers {
	width: 30%;
	height: 100%;
	float: center;
}

#centers #centers_one {
	margin-top: 16vh;
}

#centers_one .imgs {
	width: 238px;
	height: 100px;
	display: block;
	margin-left: 91px;
	margin-bottom: 50px;
}

#centers_one .wenzi {
	text-align: center;
	color: white;
	padding: 20px;
}

shuji {
	line-height: 30px;
	border: 1px solid red;
}

.input_phone {
	float: left;
	height: 48px;
	width: 69%;
	color: white;
	background: transparent;
	font-size: 16px;
	border: none;

}

.error_input{
	color: red;
	display: none;
	margin-top: 15px;
}
.input_div{
	border: 1px white solid;
	height: 48px;
	width: 99%;
	color: white;
	background: transparent;
	font-size: 16px;
	margin-bottom: 20px;
	border-radius: 5px;
	padding-left: 10px;
}

.pm_div_imgs{
	width: 100%;
	height:48px; ;
}

.input_yzm {
	float: left;
	height: 48px;
	width: 70%;
	color: white;
	background: transparent;
	font-size: 16px;
	border: none;
}

.pm_input{
	color: red;
	display: none;
	margin-top: 15px;
}

.imgs_a{
	float: right;
	height: 48px;
	width: 30%;
}

.pm_div{
	border: 1px white solid;
	height: 48px;
	width: 64%;
	color: white;
	background: transparent;
	font-size: 16px;
	margin-bottom: 20px;
	border-radius: 5px;
	padding-left: 10px;
	float: left;
}


.input_dxyzm {
	margin-bottom: 0;
	height: 48px;
	width: 64%;
	color: white;
	background: transparent;
	font-size: 16px;
	margin-bottom: 20px;
	border-radius: 5px;
	padding-left: 10px;
}


.input_pass {
	float: left;
	height: 48px;
	width: 49%;
	color: white;
	background: transparent;
	font-size: 16px;
	border: none;
}

.pass_input{
	color: red;
	display: none;
	margin-top: 15px;
}

.pass_div{
	border: 1px white solid;
	height: 48px;
	width: 99%;
	color: white;
	background: transparent;
	font-size: 16px;
	margin-bottom: 20px;
	border-radius: 5px;
	padding-left: 10px;
}


.input_password {
	float: left;
	height: 48px;
	width: 66%;
	color: white;
	background: transparent;
	font-size: 16px;
	border: none;
}

.password_input{
	color: red;
	display: none;
	margin-top: 15px;
}

.password_div{
	border: 1px white solid;
	height: 48px;
	width: 99%;
	color: white;
	background: transparent;
	font-size: 16px;
	margin-bottom: 20px;
	border-radius: 5px;
	padding-left: 10px;
}

.wenzi_zero {
	margin-bottom: 20px;
}

.input_checkbox_ {}

.wenzi_one {
	display: inline-block;
	padding-left: 10px;
	line-height: 19px;
	font-size: 14px;
	color: white;
}

.wenzi_two {
	font-size: 14px;
	color: #ac41eb;
	cursor: pointer;
	float: right;
}

.input_button {
	margin-bottom: 0;
	height: 48px;
	width: 100%;
	color: #fff;
	background-color: rgba(172, 65, 235, 0.8);;
	font-size: 16px;
	margin-bottom: 40px;
	cursor: pointer;
	border: none;
	border-radius: 4px;
}
.input_button:hover {
	background-color: #aa55ff;
}

.wenzi_three {
	text-align: center;
	color: white;
}

.login {
	color: white;
	text-decoration: none;
	font-size: 16px;
}
input{
	outline:none;
}
/*input:-webkit-autofill {
	transition: background-color 5000s ease-in-out 0s;

}*/
/*去除浏览器自动填充背景颜色*/
input:-webkit-autofill {
	transition: background-color 5000s ease-in-out 0s;
	-webkit-text-fill-color: white;/**字体颜色可按需求定义*/
}

.el-message{
	color: #e6a23c;
	display: none;
	background-color: #fdf6ec;
	border-color: #faecd8;
	min-width: 380px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 4px;
	/*border: 1px solid #ebeef5;*/
	position: fixed;
	left: 50%;
	top: 20px;
	/*osition: fixed;*/
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	/*background-color: #edf2fc;*/
	-webkit-transition: opacity .3s,-webkit-transform .4s;
	/*transition: opacity .3s,-webkit-transform .4s;
	transition: opacity .3s,transform .4s;*/
	transition: opacity .3s,transform .4s,-webkit-transform .4s;
	overflow: hidden;
	padding: 15px 15px 15px 20px;
	/*display: -webkit-box;
	display: -ms-flexbox;
	display: flex;*/
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
